
{% extends 'main.html' %}




    {% block content %}

    <h1> IM {{projectObj.title}} Main Page</h1>
    
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non est lobortis, ullamcorper velit vitae, efficitur ante. In elementum libero lacus, ut laoreet velit lacinia non. Praesent vehicula leo velit, tincidunt pulvinar nulla pellentesque at. Fusce lacus leo, hendrerit non pulvinar eu, sollicitudin eu mauris. Nam posuere ligula nibh, luctus posuere justo maximus quis. Proin faucibus, massa non convallis elementum, ligula dolor malesuada erat, posuere vestibulum magna ligula interdum ipsum. Pellentesque non auctor velit.

        Nulla quam turpis, imperdiet eu dolor quis, egestas rutrum est. Etiam vulputate interdum nulla, non hendrerit odio porta a. Fusce quis mauris ante. In ligula augue, tincidunt et mollis nec, tincidunt vel lacus. Donec finibus ut arcu eu consectetur. Sed condimentum urna metus, vitae facilisis augue ullamcorper sed. Cras vitae tincidunt nisi. Sed nec gravida orci. Fusce tempus augue eget nunc consectetur feugiat. Duis molestie diam et dictum porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sodales purus nec leo vestibulum tristique.
        
        Quisque at molestie dolor, bibendum scelerisque nisi. Nam posuere justo sed tincidunt feugiat. Curabitur eget nisi ac urna blandit eleifend. Sed eu porttitor leo. Aliquam erat volutpat. In finibus tincidunt consectetur. Mauris euismod ipsum quis urna eleifend, a pharetra eros volutpat. Pellentesque varius tempus enim in suscipit. Nulla molestie turpis vel fermentum consequat. Nullam eros ligula, eleifend in dolor sed, imperdiet fringilla est. Etiam interdum mauris eu mauris cursus blandit. Etiam volutpat augue nec blandit tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar libero ut urna tincidunt consectetur. </p>
    
    {% endblock content %}